<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<connectionStrings>
		<!-- DB接続文字列 -->
		<add name="Taikoban" connectionString="gwfgQ0W5vk1ziBVLg2sp6mo8kghim7V6rNKBJa1cuc6niKiMI8+Jc3wXj1CumWZKgKoBu4P70Tz/L//Cnyw5IOs1aFDa3J5VCEuK2xBhes2lfJhlH7N/PeIIHmx0g1AxStxOmrUtxLhAuq9ladRg8g==" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>