<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFormat" value="9, 1, 2" />
    <!-- 
    テスト用
    <add key="LogFormat" value="9, 16, 1" />
    本番用
    <add key="LogFormat" value="9, 1, 2" />
-->
    <add key="UseRemote" value="true"/>
  </appSettings>
</configuration>