<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Trace -->
    <add key="EnableTrace" value="true" />
    <add key="EnableDebugTrace" value="true" />
    <add key="EnableDetailedExceptionTrace" value="true" />
    <add key="TraceTermInDays" value="30" />
    <!-- Connection -->
    <!-- ConnectionType: 0=local 1=XenApp 2=XenDesktop -->
    <add key="ConnectionType" value="0" />
    <add key="InitialConnectionMillisecondsTimeout" value="5000" />
  </appSettings>
</configuration>